body {
    background-color: #343837;
    color: white;
    text-align: center;
}

.baslık {
    color: red;
    text-align: center;
}

.form-gecis {
    margin: 0 0 0 25px;
    color: red;
}

.list {
    margin: 0 auto 0 auto;
    display: table;
}

.aciklama {
    text-align: center;
}